Node-Red Flow.json
[{"id":"ad00b8ee.7a32d8","type":"ui_button","z":"3c3d592a.1abce6","name":"","group":"fe04d54f.d55988","order":6,"width":0,"height":0,"passthru":false,"label":"Get Image","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":160,"wires":[["c571fd5d.738a2"]]},{"id":"c571fd5d.738a2","type":"http request","z":"3c3d592a.1abce6","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://837ce7a9-3054-4ed2-9ef4-dc56b3a02168-bluemix.cloudant.com/sample/_all_docs?include_docs=true&descending=true&limit=1","tls":"","persist":false,"proxy":"","authType":"basic","x":400,"y":160,"wires":[["f7e85417.9d74d8"]]},{"id":"f7e85417.9d74d8","type":"function","z":"3c3d592a.1abce6","name":"Image","func":"msg.payload=msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":100,"wires":[["ea8d4bc2.a77388","df6921c.b8d3fe"]]},{"id":"df6921c.b8d3fe","type":"ui_template","z":"3c3d592a.1abce6","group":"fe04d54f.d55988","name":"","order":5,"width":"6","height":"7","format":"<img ng-src=\"{{msg.payload}}\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":560,"y":320,"wires":[[]]},{"id":"ea8d4bc2.a77388","type":"debug","z":"3c3d592a.1abce6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":200,"wires":[]},{"id":"fe04d54f.d55988","type":"ui_group","z":"","name":"SmartSecurity","tab":"42b7397.667ebc8","order":1,"disp":true,"width":"6","collapse":false},{"id":"42b7397.667ebc8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]